version: '2'
services:
  client:
    build:
     context: ../client
     dockerfile: Dockerfile.devenv
    ports:
     - '3000:3000'
    volumes:
     - ../client:/client
     - ../h:/h
     - ../browser-extension:/browser-extension
    links:
     - h
  h:
    build:
     context: ../h
     dockerfile: Dockerfile.devenv
    ports:
     - '5000:5000'
    environment:
     - PGHOST=postgres
     - PGUSER=postgres
     - PGDATABASE=htest
     - TEST_DATABASE_URL=postgresql://postgres@postgres/htest
     - ELASTICSEARCH_HOST=elasticsearch
     - REDIS_HOST=redis
     - AMPQ_HOST=rabbitmq
     - BROKER_URL=amqp://guest:guest@rabbitmq:5672//
    links:
     - postgres
     - elasticsearch
     - rabbitmq
     - redis
    volumes:
     - ../h:/h
     - ../client:/client
    command: make dev-wait
  browser-extension:
     build:
      context: ../browser-extension
      dockerfile: Dockerfile.devenv
  postgres:
    image: postgres:9.5
    ports:
     - '5432'
  elasticsearch:
    image: nickstenning/elasticsearch-icu
    ports: 
     - '9200'
     - '9300'
  rabbitmq:
    image: rabbitmq:3-management
    ports:
     - '5672'
     - '15672'
  redis:
    image: redis
    ports:
     - 6379
